import React, { FC } from 'react';

{{#if includeStyles}}
import { Styled{{pascalCase name}} } from './{{lowerCase name}}.styled';

{{/if}}
{{#if hasProps}}
interface {{pascalCase name}}Props {
  yourProp: string;
}

{{/if}}
export const {{pascalCase name}}: FC{{#if hasProps}}<{{pascalCase name}}Props>{{/if}} = ({{#if hasProps}}{ yourProp }{{/if}}) => (
  <p>Here is your {{lowerCase name}} component.</p>
);
